allure-results/
screenshots/
screenshot
test-output/
build

application.log
#############################
## Java
#############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
activitylog.log
#############################
## Maven
#############################
target/
pom.xml.tag
pom.xml.releasebackup
pom.xml.versionbackup
pom.xml.bak
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildnumber.properties
.mvn/timing.properties

#############################
## IntellJ
#############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
#############################
## Eclipse
#############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
TestData/

## OS X
#############################
.DS_Store










